body,html{background-color:black;}
.lumiere{
  position: relative;
  width:500px;
  height:755px;
  background-color: #fff;
}
.sequence{
  position: absolute;
  width:500px;
  height:755px;
  top:0;
}
.sequence img{
  top:0;
  left:0;
  height:100%;
  background-size: cover;
}
